html, body {
  height: 100%;
  width: 100%;
}

.theme {
  height:auto;
  width: 100%;
  background-color:#1aafd0;
  background-position: center;
  font-size: 3em;
  text-align: center;
  color: white;
  overflow: hidden;
  line-height: auto;
  position: relative;
}

.turn {
  height:auto;
  width: 100%;
  background-color:#fdb94e;
  background-position: center;
  font-size: 1.5em;
  text-align: center;
  color: white;
  overflow: hidden;
  line-height: auto;
  position: relative;
  padding-top:10px;
  padding-bottom:10px;
}



.versus {
  height:auto;
  font-size: 1.5em;
  text-align: center;
  color: white;
  overflow: hidden;
  position: relative;
}

.players{
  display: inline-block;
  width: 50%;
  height:100%;
  padding-top:10px;
  padding-bottom:10px;
}

.players:first-letter {
    text-transform:capitalize;
}

#player1 {
  background-color:#3be8b0;
  float: left;
}

#player2 {
  background-color:#fc636b;
  float: right;
}

.scoreboard{
  height:auto;
  font-size: 1.5em;
  text-align: center;
  color: white;
  overflow: hidden;
  position: relative;
}

.score{
  display: inline-block;
  width: 50%;
  height:100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#score1 {
  background-color:#7ff0cc;
  float: left;
}

#score2 {
  background-color:#fdaeb2;
  float: right;
}


.questions {
  background-color: #F7F7F2;
  height: 20em;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  display: table;
}

.questionsText {
  /*display: inline-block;
  vertical-align: middle;*/
  display: table-cell;
  vertical-align: middle;
}

.tieText {
  /*display: inline-block;
  vertical-align: middle;*/
  /*display: table-cell;
  vertical-align: middle;*/
  color: #fdb94e;
  font-size: 2em;
}

.p1WinText {
  /*display: inline-block;
  vertical-align: middle;*/
  display: table-cell;
  vertical-align: middle;
  color: #3be8b0;
  font-size: 2em;
}

.p2WinText {
  /*display: inline-block;
  vertical-align: middle;*/
  display: table-cell;
  vertical-align: middle;
  color: #fc636b;
  font-size: 2em;
}

.answersText {
 width: 50%;
 height: 25%;
 overflow: auto;
 margin: auto;
 position: absolute;
 display: block;
 top: 0; left: 0; bottom: 0; right: 0;
}

.true {
  width: 49%;
  display: inline-block;
  border-color: green;
  margin: 0 auto;
  border-radius: 10px;
}

.false {
  width: 49%;
  display: inline-block;
  border-color: red;
  margin: 0 auto;
  border-radius: 10px;
  /*display: flex;
  align-items: center;*/
}

.answer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

button {
  text-align:center;
}

.right {
  font-size: 1.5em;
  color: green;
}

.wrong {
  font-size: 1.5em;
  color: red;
}
