html, body {
  height: 100%;
  width: 100%;
}

.versus {
  height:auto;
  width: 100%;
  background-color:#502F4C;
  background-size: cover;
  background-position: center;
  font-size: 3em;
  text-align: center;
  color: #F7F7F2;
  overflow: hidden;
  border-radius: 10px;
  line-height: auto;
  position: relative;
}

span {
     display: inline-block;
     vertical-align: middle;
   }

.questions {
  background-color: #F7F7F2;
  border-radius: 10px;
  margin-top: 5px;
  height: 30%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  position: relative;
}

.questionsText {
 width: 50%;
 height: 50%;
 overflow: auto;
 margin: auto;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
}


.true {
  width: 49%;
  display: inline-block;
  border-color: green;
  margin: 0 auto;
  border-radius: 10px;
}

.false {
  width: 49%;
  display: inline-block;
  border-color: red;
  margin: 0 auto;
  border-radius: 10px;
  /*display: flex;
  align-items: center;*/
}

.answer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

button {
  text-align:center;
}
